.login-body{
    max-width: 1300px;
    margin: auto;
    padding: 0 0.5em;
}

.login-body .row{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-body .left .title{
    padding: 2em;
    max-width: 1000;
    margin: auto;
}

.login-body .left .text div{    
    font-size: 32px;
    font-weight: 600;
    color: #00B0FF;
}

.login-body .left .image img{
    width: 300px;
    height: 300px;
}

.login-body .left .text p{
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
}

.login-body .left .button{
    margin-top: 10px;
}

.login-body .right .card{
    padding: 2em;
    max-width: 28rem;
    margin: auto;
}

.login-body .right .title{
    text-align: center;
    color: #00BFA6;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

.login-body .right img{
    width: 100px;
    height: 100px;
}

.login-body .right .input{
   width: 100%;
}

.login-body .right .link{
    font-size: 12px;
}

.login-body .right .btn{
    width: 100%;
}

.login-body .ui.icon.input>i.icon{
    cursor: pointer !important;
}

.login-body .ui.icon.input>i.icon:not(.link){
    pointer-events: unset;
}