@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-success{
  font-size: 14px;
  border-color: #00BFA6;
  background-color: #00BFA6;
  transition: all 0.3s ease;
}

.btn-success:hover{
  border-color: #00BFA6;
  background-color: #00BFA6;
  opacity: 0.8;
}

.btn-primary{
  font-size: 14px;
  border-color: #00B0FF;
  background-color: #00B0FF;
  transition: all 0.3s ease;
}

.btn-primary:hover{
  border-color: #00B0FF;
  background-color: #00B0FF;
  opacity: 0.8;
}